<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>ledinho</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <style>
            body {
                background-color: #333;
                color: #fff;
                font-size: 18px;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <p>
            Clique abaixo para escolher a cor
        </p>
        <input data-jscolor="{ format: 'hex', value: '#000', required: false, palette: '#F00 #0F0 #00F #000', previewPosition: 'right'}" onChange="color(this)"> 

        <script>
            function color (e) {
                const color = e.jscolor.toString('hex').replace("#", "")
                fetch("/writeColor/" + color)
            } 
			function setCurrentColor() {
				const apiUrl = 'currentColor';
				fetch(apiUrl)
				.then(response => {
					if (!response.ok) {
						throw new Error(`Network response was not ok, status: ${response.status}`);
					}
					return response.text()
				})
				.then(data => {
					const c = document.getElementsByTagName("input")[0]
					c.jscolor.fromString(data)
				})
				.catch(error => {
					console.error('Error:', error);
				}); 
			}
			setCurrentColor()
		</script>
		<script src="/static/3p/jcolor.min.js"></script>
    </body>
</html>
